<header>
  <nav>
    <a href="/">Home</a>

    <% if(locals.isLogged) { %>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    <% if(locals.username === "admin") { %>
    <a href="/admin">ADMIN</a>
    <% } %> <% } else { %>
    <a href="/authentication">Login</a>
    <% } %>
  </nav>
</header>
