<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Back Office</title>
  </head>
  <body>
    <header>
      <h1>Back Office</h1>
      <nav>
        <a href="/admin">Retourner à l'accueil</a>
        <a href="/admin/story">Gérer les articles</a>
      </nav>
    </header>
    <main>
      <h2>Category List</h2>
      <a href="/admin/category/create">Create a new category</a>

      <table>
        <tr>
          <th>Id</th>
          <th>label</th>
        </tr>
        <% for (const category of categories) {%>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.label %></td>
          <td>
            <a href="/admin/category/<%= category.id %>">Edit</a>
            <a href="/admin/category/delete/<%= category.id %>">Delete</a>
          </td>
        </tr>
        <% } %>
      </table>
    </main>
    <footer>
      <p>&copy; 2024</p>
    </footer>
  </body>
</html>
